{% extends 'base.html' %}
<style>
  .search-box {
    width: 400px;
  }
</style>
<!-- apply static css -->
{% load static %}

<!-- Block top nav menu -->
{% block nav_menu %}
<div class="navbar navbar-light bg-white border-bottom">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">IshemaLogo</a>

    <!-- Navigation-center -->
    <div class="navbar-center navbar-light bg-light">
      <div class="container">
        <ul class="navbar-center-list">
          <li class="navbar-center-item">
            <button class="navbar-center-link active" href="#home">Self</button>
          </li>
          <li class="navbar-center-item">
            <button class="navbar-center-link" href="#about">Community</button>
          </li>
        </ul>
      </div>
    </div>

    <form class="d-flex">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search "
        aria-label="Search"
      />
      <button class="btn btn-outline-primary" type="submit">Search</button>
    </form>
  </div>
</div>
{% endblock %}
<!-- block  side nav menu -->
{% block left_navigation %}
<!-- Custon navigation menu for home -->

{% include 'accounts/profile_overview.html' %}

<ul class="nav flex-column">
  <!--  Home is default left nav menu -->
  <li class="nav-item">
    <a class="nav-link active" href="{% url 'community:home' %}"
      ><i class="bi bi-house-door-fill"></i> Home</a
    >
  </li>
  <li class="nav-item"></li>
    <a class="nav-link" href="{% url 'opportunity:create_opportunity' %}"
      ><i class="bi bi-plus-circle-fill"></i> Create New Opportunity</a
    >
  </li>
</ul>
{% endblock %}

<!-- Inhert base layout -->
{% block feeds %}
<div class="card text-left mb-5">
  <div class="card-header">
    <h2>Volunteer Opportunities</h2>
    <!-- Display the list of opportunities with a search bar. -->
    <form method="GET" class="d-flex justify-content-between align-items-center">
      <input
        type="text"
        name="q"
        class="form-control me-2 search-box"
        placeholder="Search by title, location or description"
        value="{{ query }}"
        aria-label="Search"/>
      <button type="submit" class="btn btn-success">Search</button>  <!-- Bootstrap button -->
    </form>
  </div>
</div>

<style>
  .search-box {
    width: 700px;
  }
</style>


<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" aria-current="true" href="#">Available</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Ongoing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" aria-disabled="true">Recent</a>
      </li>
    </ul>
  </div>
  <div class="feed">
    <div class="card-body">
      <div class="d-flex flex-row flex-wrap">
        {% for opportunity in opportunities %}
        <div class="card mb-3" style="width: 13rem; margin-right: 15px">
          <img
            src="{% if opportunity.opportunity_picture %}{{ opportunity.opportunity_picture.url }}{% else %}
      {% static 'assets/images/default_opportunity_image.jpg' %}{% endif %}"
            class="card-img-top"
            alt="Opportunity Image"
            style="height: 100px; width: 200px; object-fit: cover"
          />
          <div class="card-body">
            <h5 class="card-title">{{ opportunity.title }}</h5>
            <p class="card-text">{{ opportunity.location }}</p>
            <p class="card-text"><small>{{ opportunity.date }}</small></p>

            {% if opportunity.id %}
            <a
              href="{% url 'opportunity:opportunity_detail' opportunity.id %}"
              class="btn btn-primary"
              >View Opportunity</a
            >
            {% else %}
            <p class="text-muted">Opportunity details unavailable</p>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<br />
<br />
<br />

{% endblock %}

<!-- Inhert right container -->
{% block right_content %}
<h5>What's Happening</h5>
<div class="border border-info rounded p-3 mb-2">
  <p><strong>List of achieved deeds</strong><br />123K deeds</p>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'community:home' %}"
        ><i class="bi bi-house-door-fill"></i> Your deeds</a
      >
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#"
        ><i class="bi bi-house-door-fill"></i> Log Volunteer Hours</a
      >
    </li>
  </ul>
</div>
{% endblock %}
