{% extends 'base.html' %}
<!-- apply static css -->
{% load static %}

<!-- Block top nav menu -->
{% block nav_menu %}
<div class="navbar navbar-light bg-white border-bottom">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">IshemaLogo</a>

    <!-- Navigation-center -->
    <div class="navbar-center navbar-light bg-light">
      <div class="container">
        <ul class="navbar-center-list">
          <li class="navbar-center-item">
            <button class="navbar-center-link active" href="#home">Self</button>
          </li>
          <li class="navbar-center-item">
            <button class="navbar-center-link" href="#about">Community</button>
          </li>
        </ul>
      </div>
    </div>

    <form class="d-flex">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search "
        aria-label="Search"
      />
      <button class="btn btn-outline-primary" type="submit">Search</button>
    </form>
  </div>
</div>
{% endblock %}
<!-- block  side nav menu -->
{% block left_navigation %}
<!-- Custon navigation menu for home -->

{% include 'accounts/profile_overview.html' %}

<ul class="nav flex-column">
  <!--  Home is default left nav menu -->
  <li class="nav-item">
    <a class="nav-link active" href="{% url 'community:home' %}"
      ><i class="bi bi-house-door-fill"></i> Home</a
    >
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#"
      ><i class="bi bi-cash-stack"></i> Donate</a
    >
  </li>
</ul>
{% endblock %}

<!-- Inhert base layout -->
{% block feeds %}
<div class="card border border-none text-left mb-5">
  <div class="card-header p-5">
    <h4>Empower Change by Supporting a Cause You Care About</h4>
  </div>
</div>

<div class="feed">
  <div class="d-flex flex-row flex-wrap">
    {% for opportunity in opportunities %}
    <div class="card mb-3" style="width: 18rem; margin-right: 15px">
      <img
        src="{% if opportunity.opportunity_picture %}{{ opportunity.opportunity_picture.url }}{% else %}
      {% static 'assets/images/default_opportunity_image.jpg' %}{% endif %}"
        class="card-img-top"
        alt="Opportunity Image"
        style="height: 100px; width: 100%; object-fit: cover"
      />
      <div class="card-body">
        <h5 class="card-title">{{ opportunity.title }}</h5>
        <p class="card-text">{{ opportunity.location }}</p>
        <p class="card-text"><small>{{ opportunity.date }}</small></p>

        {% if opportunity.id %}
        <a
          href="{% url 'opportunity:opportunity_detail' opportunity.id %}"
          class="btn btn-primary"
          >View Opportunity</a
        >
        {% else %}
        <p class="text-muted">Opportunity details unavailable</p>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}

<!-- Inhert right container -->
{% block right_content %}
<h5>What's Happening</h5>
<div class="border border-info rounded p-3 mb-2">
  <p><strong>Timely Fundraiser </strong></p>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'community:home' %}"
        ><i class="bi bi-house-door-fill"></i> 123K Urgent Causes</a
      >
    </li>
  </ul>
</div>
{% endblock %}
