{% extends 'welcome_base.html' %}
{% block content %}
<div class="row">
      <div class="col-md-5 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <!-- Pic -->
          </div>
        </div>
      </div>

      <div class="col-md-5">
        <div class="card">
          <div class="card-body">
            <h2>Login</h2>
            <form method="post">
              {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-secondary">Login</button>
            </form>
            <p>Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
