{% extends 'welcome_base.html' %}
<!-- Content -->
{% block content %}
<div class="row justify-content-center align-items-center vh-100">
  <div class="col-md-5">
    <div class="card">
      <div class="card-body">
        <h2>Login</h2>
        <form method="post">
          {% csrf_token %} {{ form.as_p }}
          <button type="submit" class="btn btn-secondary">Login</button>
        </form>
        <p>
          Don't have an account?
          <a href="{% url 'accounts:register' %}">Register here</a>
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
