{% extends 'welcome_base.html' %}
{% block content %}
<div class="row">
      <div class="col-md-5 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <!-- Pic -->
          </div>
        </div>
      </div>

      <div class="col-md-5">
        <div class="card">
          <div class="card-body">
            <h2>Profile</h2>
            <form method="post" enctype="multipart/form-data">
             {% csrf_token %}
             {{ profile_form.as_p }}
            <button type="submit" class=" btn btn-info">Update Profile</button>
          </form>
         <a href="{% url 'community:home' %}">Home</a></p>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
