
<!-- Header / Navigation -->
    <nav class="navbar-container ">
      <h3>IshemaLogo</h3>
      <div class="nav-bar">
      <div class="container">
        <ul class="navbar-list">
          <li class="navbar-item">
            <a class="navbar-link active" href="{% url 'welcome' %}">Home</a>
          </li>
          <li class="navbar-item">
            <a class="navbar-link" href="#about">About</a>
          </li>
          <li class="navbar-item">
            <a class="navbar-link" href="#opportunities">
              Opportunities
            </a>
          </li>
          <li class="navbar-item"></li>
            <a class="navbar-link" href="#blogs">
              Blogs
            </a>
          </li>
          <li class="navbar-item">
            <a class="navbar-link" href="{% url 'login' %}">Login</a>
          </li>
          <li class="navbar-item">
            <a class="navbar-link" href="{% url 'register' %}">Sign up</a>
          </li>
        </ul>
      </div>
      </div>
    </nav>
    