{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - Ishema Community Volunteering App</title>
    <!-- custom css -->
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    <!-- Bootstrap icons -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
  </head>
  <body>
    <!-- Navbar -->
    <nav>
      {% block nav_menu %}
      <!-- Default nav menu -->
      {% endblock %}
    </nav>

    <div class="container-fluid">
      <div class="row">
        <!-- Left Sidebar -->

        <div class="col-md-3 sidebar bg-white p-4">
          {% block left_navigation %}
          <!-- Default navigation menu -->

          {% endblock %}
        </div>

        <!-- Feeds ----Feeds--- Feeds ----Feeds--- Feeds ----Feeds--- Feeds ----Feeds-->
        <div class="col-md-9 flex-content">
          <!------------ 
              POST CARD 
              ------------->
          {% block feeds %}
          <!-- Default feed content -->
          {% endblock %}
          <!------------ 
              POST CARD  END__
              ------------->
        </div>
      </div>
    </div>
    <!-- Custom JS -->
    <script src="{% static 'js/home.js' %}"></script>

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
  </body>
</html>
